{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-4 p-5 bg-light text-dark rounded text-center">
            <h1>Agence lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aperiam, consectetur culpa
                distinctio est facilis ipsam laboriosam libero nobis perferendis perspiciatis placeat quae quibusdam
                repellat repudiandae sequi sint vero.</p>
        </div>
    </div>
{% endblock %}